-
	let logos = [
		'bloomin.png','dekalash.png','goodcents.png','gorilla.png',
		'ivybrook.png','perspire.png','puro-clean.png','tw-logo.png',
		'u-logo.png','westside-logo.png','winans.png','zen.png'
	]