include ../../../../../core/mixins/mixins.pug
footer.foot
	.section
		.row
			.foot-list
				.foot-item
					h6.foot-title
						| Follow us
					ul.foot-list
						li.foot-list_item
							svg.icon
								use(xlink:href="/img/sprite.svg#fb")
							span Facebook
						li.foot-list_item
							svg.icon
								use(xlink:href="/img/sprite.svg#fb")
							span Instagram
						li.foot-list_item
							svg.icon
								use(xlink:href="/img/sprite.svg#fb")
							span YouTube
				.foot-item
					h6.foot-title
						| E-mail
					ul.foot-list
						li.foot-list_item
							span mail@franmetrics.com
						li.foot-list_item
							span job@franmetrics.com
						li.foot-list_item
							span info@franmetrics.com
				.foot-item
					h6.foot-title
						| Headquarter
					ul.foot-list
						li.foot-list_item
							span USA, New Jersey Office
						li.foot-list_item
							span 200 Craig Road
						li.foot-list_item
							span Manalapan NJ 07726
				.foot-item
					h6.foot-title
						| Documents
					ul.foot-list
						li.foot-list_item
							a(href='#').green Terms of Use
						li.foot-list_item
							a(href='#').green Privacy policy
	.head-row
		a(href='#').head-logo
			+img('logotype.png')
	.foot-menu
		nav.head-nav
			a(href="/features").head-btn
				span Features
			a(href="/membership").head-btn
				span Membership
			a(href="/blog").head-btn
				span Blog
			a(href="/about").head-btn
				span About
		.head-copy
			span © FRANMETRICS, 1855 — 2024
			a(href='#')
				| Devcube
script(src='front.js' type="module")