header.head.hidden
	.section
		.head-row
			a(href='#').head-logo
				+img('logotype.png')
			button(data-click="front:burgerClick").head-burger
				span.line
				span.line
				span.line
		.head-menu
			nav.head-nav
				a(href="#").head-btn
					span Features
				a(href="#").head-btn
					span Membership
				a(href="#").head-btn
					span Blog
				a(href="#").head-btn
					span About
			.head-auth
				button.head-btn.btn-green
					span Log In
				button.head-btn
					span Sign Up
