include ../../../../../core/mixins/mixins.pug
header.head.hidden
	.section
		.head-row
			a(href='#').head-logo
				+img('logotype.png')
			button(data-click="front:openMenu").head-burger
				span.line
				span.line
				span.line
		.head-menu
			nav.head-nav
				a(href="/features").head-btn
					span Features
				a(href="/membership").head-btn
					span Membership
				a(href="/blog").head-btn
					span Blog
				a(href="/about").head-btn
					span About
			.head-auth
				button.head-btn.btn-green
					span.btn-inner Log In
				button.head-btn
					span.btn-inner Sign Up
				.head-copy
					| © FRANMETRICS, 1855 — 2024