include  vars.pug
include ../../../../../core/mixins/mixins.pug
include ../data/data.pug
doctype html
html(lang='en')
	include  style
	body
		.set(data-move="front:parallaxMove")
			include header
			block main
				main.main
					block content
					include subs
			include footer
