include ../../../../../core/mixins/mixins.pug
section.subscribe
	.section
		.row.confidence-row
			h2.confidence-title.advantages-title.faded
				| Subscribe#[br]
				| to #[span.green our newsletter]
			h3.confidence-subtitle.advantages-subtitle.faded
				| Only useful information#[br]
				| and tips
		form.subscribe-form
			label.input.subscribe-input
				input(type="text" placeholder="Name")
			label.input.subscribe-input
				input(type="text" placeholder="Last name")
			label.input.subscribe-input
				input(type="email" placeholder="Email")
			label.input.subscribe-input
				input(type="text" placeholder="Type of business")
			button.btn.with-icon.btn-green.subscribe-btn
				span Send
				svg
					use(xlink:href="/img/sprite.svg#btn-arrow")
section.intuit
	.section
		.intuit-row
			.intuit-left
				.intuit-logo
					+img('intuit.png')
			.intuit-right
				button.btn Get quickbooks
