extends template/main
append vars
	-
		page_title = 'Features'
block content
	section.features
		.section
			.row.confidence-row
				h2.confidence-title.advantages-title
					| Bookkeeping, KPI#[br]
					| & Benchmarking #[span.green Solutions]
				h3.confidence-subtitle.advantages-subtitle
					| For Franchisors#[br]
					| & Franchisees
			.row.showcase-row
				.showcase-left
					h6.showcase-title
						| Interested in Pricing
					p.showcase-text
						| Check out the pricing for our software, as well as a pricing calculator
						| to figure out exactly how much your Franchise will cost before even making a call.
					.btn-green.btn
						| Pricing
				.showcase-right
					.showcase-video
						iframe(src="https://player.vimeo.com/video/302730253?h=7480b27e1a")
	section.metrics
		.section
			.row.confidence-row
				h3.confidence-subtitle
					| A wide range#[br]
					| of possibilities
				h2.confidence-title
					| Franchise Metrics &#[br]
					| Benchmarking #[span.green For Franchisors]
			.metrics-cont.cont
				ul.metrics-list
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 01
							span.metrics-item-title Benchmarking
						ul.metrics-item-list
							li.metrics-item-item Custom and non-financial KPI (metric) integration;
							li.metrics-item-item Franchisees can see the median and percentile they are in for each metric.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 02
							span.metrics-item-title Consolidated Financials
						ul.metrics-item-list
							li.metrics-item-item Have a complete picture so you can see the overall health of your organization;
							li.metrics-item-item Identify areas in the organization that need attention.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 03
							span.metrics-item-title Data for Item 19#[br]of your FDD
						ul.metrics-item-list
							li.metrics-item-item Find the right data for your financial performance representations;
							li.metrics-item-item Become more attractive to potential franchisees.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 04
							span.metrics-item-title Trend Tracking
						ul.metrics-item-list
							li.metrics-item-item See where your metrics are heading so you can plan accordingly;
							li.metrics-item-item Compare KPI trends to each other to see how they may correlate.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 05
							span.metrics-item-title Franchisee Support
						ul.metrics-item-list
							li.metrics-item-item Supply franchisees with quality data to identify strengths and areas for improvement;
							li.metrics-item-item Multi-unit operators can compare their owned locations internally or against the entire system.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 06
							span.metrics-item-title Unit Level Economics
						ul.metrics-item-list
							li.metrics-item-item Your success is based on your franchisee's success. Get access to their financial data all in one place so it can be useful and used as a tool to support your franchisees.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 07
							span.metrics-item-title The Right Numbers
						ul.metrics-item-list
							li.metrics-item-item Access vital and actionable business metrics on a single page for a more engaging experience, eliminating the need for multiple logins and numerous reports. Simplify your day without feeling overwhelmed.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 08
							span.metrics-item-title Profitability Tracker
						ul.metrics-item-list
							li.metrics-item-item Break-even point;
							li.metrics-item-item Current profitability point;
							li.metrics-item-item Profit at any revenue point assuming fixed and variable costs stay consistent.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 09
							span.metrics-item-title What-if Scenario
						ul.metrics-item-list
							li.metrics-item-item Franchisees can see how they would profit assuming they had the medium financial result of all other units.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 10
							span.metrics-item-title Bookkeeping
						ul.metrics-item-list
							li.metrics-item-item Full service bookkeeping at affordable rates.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 11
							span.metrics-item-title POS Custom Integration
						ul.metrics-item-list
							li.metrics-item-item We work with software to bring in the custom and non-financial metrics you need in your reports;
							li.metrics-item-item Build custom APIs to automate your data systems.
					li.metrics-item
						h5.metrics-item-header
							span.metrics-item-index 12
							span.metrics-item-title KPI Ranking Reports
						ul.metrics-item-list
							li.metrics-item-item KPI ranking will help identify areas of opportunity;
							li.metrics-item-item You can see how your location might be ranking amongst other units in the franchise.
			button.btn(data-click='front:showList')
				span Show
	section.pluses
		.section
			.row.confidence-row
				h2.confidence-title.advantages-title
					| Field Visit, #[span.green Evaluation]#[br]
					| & Mystery Shopping
				h3.confidence-subtitle.advantages-subtitle
					| For Franchisors#[br]
					| & Franchisees
			.pluses-row
				.pluses-img-cont
					.pluses-img
						+img('pluses-left-img.jpg')
					.pluses-tooltip.easy.parallax(data-offset="35")
						.pluses-tooltip-icon
							svg
								use(xlink:href="/img/sprite.svg#puzzle")
						p.pluses-tooltip-text Easy setup with over#[br]500 template questions
					.pluses-tooltip.answer.parallax(data-offset="35")
						.pluses-tooltip-icon
							svg
								use(xlink:href="/img/sprite.svg#puzzle")
						p.pluses-tooltip-text Answer questions with#[br]a swipe on mobile
				ul.pluses-list
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Track performance over time and images of any issues;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Easiest in the industry to use;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Answers saved instantly in the cloud to assure no data loss;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Mode to show only unanswered questions, making it easier to find remaining questions;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Allows Franchisees to do Self Evaluations or routine checklists;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Single-use forms Mystery shopping. Our system is so easy to use your customers can use it.
	section.pluses
		.section
			.row.confidence-row
				h3.confidence-subtitle
					| Track and store#[br]
					| franchise-related documents
				h2.confidence-title
					| Document#[br]
					span.green Management
			.pluses-row
				ul.pluses-list
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Franchise Agreements & Addendums;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Insurance Policies;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Lease Agreements;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Configure and send expiration date notifications
							br
							| to Franchise Owners or the management
							br
							| team as per your specified timing;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Added addendums to existing files without #[br] having to reload;
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Franchise Owners can update Insurance policies but not Franchise Agreements due to document permissions.
				.pluses-img-cont
					.pluses-img
						+img('pluses-right-img.jpg')
					.pluses-tooltip.efficiency.parallax(data-offset="35")
						.pluses-tooltip-icon
							svg
								use(xlink:href="/img/sprite.svg#puzzle")
						p.pluses-tooltip-text Efficiency Unleashed
					.pluses-tooltip.mastering.parallax(data-offset="35")
						.pluses-tooltip-icon
							svg
								use(xlink:href="/img/sprite.svg#puzzle")
						p.pluses-tooltip-text Mastering Organization
	section.pluses
		.section
			.row.confidence-row
				h2.confidence-title.advantages-title
					| Google Review#[br]
					span.green Integration
				h3.confidence-subtitle.advantages-subtitle
					| Bring important Google Review#[br]
					| KPIs into your Scorecard!
			.pluses-row
				.pluses-img-cont
					.pluses-img
						+img('pluses-bottom-img.jpg')
					.pluses-tooltip.google.parallax(data-offset="35")
						.pluses-tooltip-icon
							svg
								use(xlink:href="/img/sprite.svg#puzzle")
						p.pluses-tooltip-text Show and filter#[br]Google Reviews
					.pluses-tooltip.reply.parallax(data-offset="35")
						.pluses-tooltip-icon
							svg
								use(xlink:href="/img/sprite.svg#puzzle")
						p.pluses-tooltip-text Reply to reviews directly #[br]from our platform!
				ul.pluses-list
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Net Promoter Score
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Average Review Score
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text Percentage of reviews replied to
					li.pluses-item
						.pluses-item-icon
							svg
								use(xlink:href='/img/sprite.svg#check')
						.pluses-item-text The time it has taken for Franchise#[br]Owners to respond to reviews