extends template/main
append vars
	-
		page_title = 'Features'
block content
	section.features.showcase
		.section
			.row.confidence-row
				h2.confidence-title.advantages-title
					| Bookkeeping, KPI#[br]
					| & Benchmarking #[span.green Solutions]
				h3.confidence-subtitle.advantages-subtitle
					| For Franchisors#[br]
					| & Franchisees
			.row.showcase-row
				.showcase-left
					h6.showcase-title
						| Interested in Pricing
					p.showcase-text
						| Check out the pricing for our software, as well as a pricing calculator
						| to figure out exactly how much your Franchise will cost before even making a call.
					.btn-green.btn
						| Pricing
				.showcase-right
					.showcase-video
						iframe(src="https://www.youtube.com/embed/-_5S7rL-COs")
