extends template/main
append vars
	-
		page_title = 'Membership'
block content
	section.pricing
		.section
			.row.confidence-row
				h2.confidence-title.advantages-title
					| Check out#[br]
					| our #[span.green Pricing] Below
				h3.confidence-subtitle.advantages-subtitle
					| There is a minimum monthly#[br]
					|  price of $200 per service
			.pricing-labels
				.pricing-label
					.pricing-label-inner
						.pricing-subtitle Pricing Plan
						h3.pricing-title Franchise Management
						ul.pricing-list
							li.pricing-item $20/ #[span.green Unit] UP TO 20 UNITS
							li.pricing-item $15/ #[span.green Unit] UNITS 21-50
							li.pricing-item $10/ #[span.green Unit] UNITS 51-100
							li.pricing-item $5/ #[span.green Unit] OVER 100 UNITS
				.pricing-label.active
					.pricing-label-inner
						.pricing-subtitle Pricing Plan
						h3.pricing-title KPI Reporting
						ul.pricing-list
							li.pricing-item $20/ #[span.green Unit] UP TO 20 UNITS
							li.pricing-item $15/ #[span.green Unit] UNITS 21-50
							li.pricing-item $10/ #[span.green Unit] UNITS 51-100
							li.pricing-item $5/ #[span.green Unit] OVER 100 UNITS
				.pricing-label
					.pricing-label-inner
						.pricing-subtitle Pricing Plan
						h3.pricing-title Add Weekly Score Cards
						ul.pricing-list
							li.pricing-item $20/ #[span.green Unit] UP TO 20 UNITS
							li.pricing-item $15/ #[span.green Unit] UNITS 21-50
							li.pricing-item $10/ #[span.green Unit] UNITS 51-100
							li.pricing-item $5/ #[span.green Unit] OVER 100 UNITS