extends template/main
append vars
	-
		page_title = 'Membership'
block content
	section.pricing
		.section
			.row.confidence-row
				h2.confidence-title.advantages-title
					| Check out#[br]
					| our #[span.green Pricing] Below
				h3.confidence-subtitle.advantages-subtitle
					| There is a minimum monthly#[br]
					|  price of $200 per service
			.pricing-labels
				.pricing-label.faded(data-offset='50').parallax
					.pricing-label-inner
						.pricing-subtitle Pricing Plan
						h3.pricing-title Franchise Management
						ul.pricing-list
							li.pricing-item $20/ #[span.green Unit] UP TO 20 UNITS
							li.pricing-item $15/ #[span.green Unit] UNITS 21-50
							li.pricing-item $10/ #[span.green Unit] UNITS 51-100
							li.pricing-item $5/ #[span.green Unit] OVER 100 UNITS
				.pricing-label.active.faded(data-offset='50').parallax
					.pricing-label-inner
						.pricing-subtitle Pricing Plan
						h3.pricing-title KPI Reporting
						ul.pricing-list
							li.pricing-item $20/ #[span.green Unit] UP TO 20 UNITS
							li.pricing-item $15/ #[span.green Unit] UNITS 21-50
							li.pricing-item $10/ #[span.green Unit] UNITS 51-100
							li.pricing-item $5/ #[span.green Unit] OVER 100 UNITS
				.pricing-label.faded(data-offset='50').parallax
					.pricing-label-inner
						.pricing-subtitle Pricing Plan
						h3.pricing-title Add Weekly Score Cards
						ul.pricing-list
							li.pricing-item $20/ #[span.green Unit] UP TO 20 UNITS
							li.pricing-item $15/ #[span.green Unit] UNITS 21-50
							li.pricing-item $10/ #[span.green Unit] UNITS 51-100
							li.pricing-item $5/ #[span.green Unit] OVER 100 UNITS
	section.calc
		.section
			.row.confidence-row
				h2.confidence-subtitle.faded
					| Use the Calculator#[br]
					| below to see your costs!
				h3.confidence-title.faded
					| Franchising Software #[br]
					| #[span.green Price Calculator]
			.row.calc-content
				.calc-left
					.calc-block.faded
						h5.calc-block_title Services
						.calc-actions
							label.radio(for='monthly' )
								input(type='radio' id='monthly' name='services' data-change="front:changeCalcServices")
								span Monthly KPI Reporting
							label.radio(for='evals')
								input(type='radio' id="evals" name='services' data-change="front:changeCalcServices")
								span Evals & Franchise Management
							label.radio(for='both')
								input(type='radio' id="both" name='services' data-change="front:changeCalcServices" checked)
								span Both
					.calc-block.faded
						h5.calc-block_title Will you need weekly or daily reporting?
						.calc-actions
							label.radio(data-change="front:changeCalcServices" for='weeklyYes')
								input(type='radio' name='reporting' id='weeklyYes' checked data-change="front:changeCalcServices")
								span Yes
							label.radio(for='weeklyNo')
								input(type='radio' name='reporting' id='weeklyNo' data-change="front:changeCalcServices")
								span No
					.calc-block.faded
						h5.calc-block_title Units
						.calc-range
							.range
								.range-start 0
								.range-bar
									input(type='range' data-input="front:rangeMove" value="0" max="250").range-input
									.range-value 0
								.range-current
								.range-end 250
				.calc-right
					.calc-block.faded
						h5.calc-block_title Cost For Evaluations
						.calc-actions
							span#evaluationToolCost $1,725 per month
					.calc-block.faded
						h5.calc-block_title Monthly KPI Reporting
						.calc-actions
							span#monthlyReportingCost $1,725 per month
					.calc-block.faded
						h5.calc-block_title Additional KPI Reporting
						.calc-actions
							span#weeklyReportingCost $685 per month
					.calc-block.faded
						h5.calc-block_title.green Total Monthly Costs
						.calc-actions
							strong#totalCost $3,780 per month
					.calc-block.calc-block_green.faded
						.calc-block_icon
							svg.icon
								use(xlink:href="/img/sprite.svg#info")
						p.calc-block_text
							| *pricing shown for a minimum of 10 units invoiced together.
							| Single units invoiced separately but part of a
							| participating organization or Franchisor cost $35 per unit.



