extends template/main
append vars
	-
		page_title = 'Team'
block content
	section.team
		.section
			.row.confidence-row
				h2.confidence-title.advantages-title.faded
					| Fran Metrics#[br]
					| #[span.green Team]
				h3.confidence-subtitle.advantages-subtitle.faded
					| The brains behind#[br]
					| the operation
			.team-content
				.team-list
					.team-item.faded
						.team-item_photo
							+img('jason.png')
						h6.team-item_name
							| Jason West-McReynolds
						.team-item_role
							| CFE
						p.team-item_text
							| With over 20 years in the franchise industry and a CFE certification,
							| Jason, a member of the International Franchise Association for five years,
							| began his entrepreneurial journey at 15. Former CFO and head of Franchise
							| Relations for a major pizza franchise, he played a key role in expanding it
							| to over 30 locations. Jason has assisted numerous concepts in franchising
							| their brands since founding Fran Metrics.
					.team-item.faded
						.team-item_photo
							+img('colin.png')
						h6.team-item_name
							| Colin Slaughter
						.team-item_role
							| CFO
						p.team-item_text
							| Colin, an accounting professional since graduating from The College of Idaho in 2010,
							| has diverse experience from bookkeeping to CFO-level analysis.
							| Handling 150+ tax returns yearly, he served as a senior accountant in Boise,
							| overseeing financials for up to 18 clients with a $50 million combined revenue.
							| In 2015, Colin founded his own firm,
							| providing precise accounting support and consulting services to small businesses and CPA firms.
					.team-item.faded
						.team-item_photo
							+img('jason-co.png')
						h6.team-item_name
							| Kevin West-McReynolds
						.team-item_role
							| Co-founder
						p.team-item_text
							| Kevin, Co-Founder and Project Administrator at Fran Metrics since early 2019,
							| previously spent five years at Apple Inc., aiding employees returning from extended leaves.
							| He also served as a Process Delivery Analyst at IBM. Valuing patience and empathy for success,
							| Kevin leverages strong self-awareness and empathy, excelling in relationship-building.
							| He is adept at identifying strengths and opportunities within organizations to bring out the best in people.
					.team-item.faded
						.team-item_photo
							+img('suman.png')
						h6.team-item_name
							| Suman Rwat
						.team-item_role
							| Employee
						p.team-item_text
							| Suman has been with Fran Metrics for over four years as a Quickbooks Certified ProAdvisor.
							| Suman has been a vital bookkeeper and accountant for Fran Metrics.
							| With a post-graduate from Garhwal University Sumon
							| has worked for with numerous companies throughout India and America.
					.team-item.faded
						.team-item_photo
							+img('arman.png')
						h6.team-item_name
							| Arman Karapetyan
						.team-item_role
							| Employee
						p.team-item_text
							| Coming soon.