font_inc($f_reg,'GoogleSans-Regular.woff2')
font_inc($f_bold,'GoogleSans-Bold.woff2')

button
	font-family inherit
	white-space nowrap
svg
	wh(28px)
a
	color RGB($black)
	
@-webkit-keyframes bgAnimation{
	0%{scale: 1}
	/*50%{width: 120%}
	75%{width: 130%}*/
	100%{scale: 1.25}
}
body
	overflow-x hidden
	font 14px $f_reg
	color RGB($black)
	background-color RGB($grayLight)
	&.non-overflow
		overflow hidden
		+tablet()
			overflow initial
	+desktop()
		font-size 16px

.set
	padding-top 34px
	+tablet-large()
		p(30px 0)
	+desktop()
		p(42px 0 0)
.head
	w(100%)
	font-size 14px
	position relative
	tr()
	+tablet-large()
		p(0px 0)
		button,a
			text-transform uppercase
	+desktop()
		p(0px)
		margin-bottom 62px
		border-top 1px solid rgba(38, 50, 56, 0.10)
		border-bottom 1px solid rgba(38, 50, 56, 0.10)
	&.active
		.head
			&-burger
				.line
					&:first-child
						transform translateX(6px)
					&:last-child
						transform translateX(10px)
			&-menu
				transform translateX(0)
	&.hidden
		.section
			transform translateY(-150px)
	.section
		df({
			df: '.head section'
			ali:'center'
		})
		+tablet()
			align-items stretch
			justify-content space-between
		+tablet-large()
			justify-content initial
	&-row
		df({
			df:'.head-row'
			ali:'center'
			jus:'space-between'
		})
		w(100%)
		position relative
		z-index 4
	&-logo
		df({
			df:'.head-logo'
			ali:'center'
			jus:'space-between'
		})
		+desktop()
			w(350px)
			justify-content center
	&-burger
		p(10px)
		df({
			df:'.head-burger'
			ali:'flex-start'
		})
		flex-direction column
		row-gap 4px
		+tablet()
			dn()
		.line
			wh(22px,3px)
			display block
			border-radius 3px
			background-color RGB($black)
			tr()
			&:first-child
				w(16px)
			&:last-child
				w(12px)
	&-menu,&-nav
		df({
			df:'.head-menu'
			ali:'center'
		})
		flex-direction column
		+tablet()
			flex-direction row
	&-menu
		wh(100vw,100vh)
		p(0 20px)
		text-transform uppercase
		background-color RGB($grayLight)
		justify-content center
		position fixed
		top 0
		left 0
		transform translateX(200%)
		z-index 3
		tr()
		+tablet()
			wh(initial)
			p(0)
			column-gap 40px
			align-items center
			background none
			position static
			transform none
		+tablet-large()
			w(100%)
			column-gap 0
	&-nav
		w(100%)
		row-gap 25px
		+tablet()
			m(0)
			column-gap 20px
		+tablet-large()
			w(100%)
			justify-content center
			column-gap 40px
		+desktop()
			margin-right 40px
	&-auth
		df({
			df:'.head-auth'
			ali:'center'
		})
		m(60px 0 0)
		flex-direction column
		row-gap 30px
		+tablet()
			margin-top 0
		+tablet-large()
			flex-shrink 0
			.btn-green
				m(0 auto)
			.head-btn
				w(108px)
		+desktop()
			w(440px)
			padding-right 16px
			justify-content center
			margin-top 0
			flex-direction row
			column-gap 0
			.head-btn
				w(initial)
			.head-btn.btn-green
				w(250px)
	&-btn
		df({
			df:'.head-btn'
			jus:'center'
			ali:'center'
		})
		font 1em $f_bold
		&.btn-green
			wh(250px,64px)
		+tablet-large()
			tr()
			&:hover
				color RGB($greenDark)
	&-copy
		m(60px 0 0 )
		font: 1em/1.75em $f_bold
		+tablet()
			dn()
.set
	overflow clip
	+desktop()
		position relative
		background url('../img/bg-line.png') center
.waves
	position absolute
	opacity .4
	z-index -1
	left 0
	animation bgAnimation 15s infinite backwards linear
	animation-direction alternate
	&>img
		w(100%)
		object-fit contain
	&-top
		wh(110%)
		top 0
	&-bottom
		wh(100%,900px)
		animation bgAnimation 5s infinite backwards linear
		bottom 0
.welcome
	m(4em 0 0)
	+desktop()
		margin-top 100px
	.section
		+tablet()
			display flex
	&-info
		+tablet()
			w(69%)
			z-index 1

		.title
			m(20px 0)
		&-btns
			display flex
			align-items center
			margin-top 36px
			column-gap 20px
	&-img
		position relative
		top -30px
		z-index 0
		+tablet()
			margin-left auto
//.parallax
	//transition 0.00001s linear
.confidence,.advantages,.reporting,.profits,.showcase,.metrics,.intuit,.pluses
	margin: 4em 0 0
	+desktop()
		margin-top 104px
.slide
	w(100%)
	flex none
.confidence
	+tablet-large()
		margin-top 30px
	&-title
		font 24px/1em $f_bold
		text-align right
		margin-top 1em
		+tablet-large()
			margin-top 0
			font-size 48px
	&-subtitle
		font 18px/1em $f_bold
		color rgba(38, 50, 56, 0.60)
		+tablet-large()
			font-size 24px
	&-row
		+tablet-large()
			align-items center
	&-slider
		df({
			df: '.confidence-slider',
			ali: flex-start
		})
		margin-top 2em
		overflow hidden
		+tablet-large()
			margin 44px 0 20px
		.slide-right
			padding 20px
			border-radius 10px
			border 2px solid #FAFBFA
			background rgba(250, 251, 250, .60)
			backdrop-filter blur(2px)
			&_icon
				wh(64px)
				border-radius 60px
				background rgba(55, 190, 85, .10)
				backdrop-filter blur(40px)
			&_title
				margin-top 30px
				font 20px/1em $f_bold
			&_text
				color RGBA($black,.6)
				margin-top 20px

.row
	+tablet-large()
		display flex
		justify-content space-between
.slide
	&-left,&-right
		transition .55s ease-in
.slider
	&-bottom
		&_row
			df({
				df:'.slider-bottom_row'
				ali:'center'
			})
			margin-top 2em
	&-dots
		dn()
		df({
			df:'.slider-dots'
		})
		column-gap 20px
		+tablet-large()
			display flex
	&-dot
		wh(12px)
		border-radius 20px
		background #263238
		&.active,&:hover
			background-color RGB($greenDark)
	&-arrows
		margin-left auto
		.btn-arrow
			wh(40px)
			border-radius 64px
			border 2px solid #263238
			&>svg
				stroke RGB($black)
			&.left
				margin-right 10px
				svg
					transform rotate(180deg)
					transform-origin center
			+tablet-large()
				wh(64px)
				&.left
					margin-right 20px
		+tablet-large()
			margin-left 0
	.slide
		&-left
			dn()
			+tablet()
				display block
		&-row
			+tablet()
				display flex
		&-right
			w(290px)
			flex 0 0 290px
			&_icon
				df({
					df: '.slide-right_icon'
					ali: 'center'
					jus: 'center'
				})
.advantages
	&-title
		text-align left
	&-subtitle
		margin-top 1em
		text-align right
	&-title,&-subtitle
		line-height 1.3em

	&-list
		df({
			df: '.advantages-list'
		})
		flex-wrap wrap
		margin-top 2em
		+desktop()
			justify-content space-between
			margin-top 46px
	&-item

		padding-right 40px
		margin-bottom 21px
		+tablet()
			w(50%)
		+desktop()
			w(320px)
			padding-right 0
			margin-bottom 100px
		&_title
			df({
				df:'.advantages-item_title'
				ali: 'center'
			})
			column-gap 10px
			&>span
				font: 20px $f_bold
		&_text
			color RGBA($black,.6)
			margin-top 20px
.reporting
	padding 10px 0 20px
	text-align center
	background RGBA($white, .6)
	backdrop-filter blur(2px)
	+tablet-large()
		margin-top 0
		position relative
		padding 204px 0 83px

	&-section
		position relative
	&-uptitle,&-title
		text-transform uppercase
	&-uptitle,&-bottomtitle,&-title
		font-family $f_bold
	&-uptitle,&-bottomtitle
		+tablet()
			font-size 24px
	&-title
		margin 10px 0
		font-size 20px
		+tablet()
			font-size 64px
			margin 20px 0
	&-bottomtitle
		margin-bottom 40px
		+tablet()
			margin-bottom 62px
	&-badge
		dn()
		+desktop()
			w(370px)
			column-gap 20px
			display flex
			align-items center
			position absolute
			padding 13px 20px
			border-radius 2000px
			border 2px solid RGBA($greenDark, .2)
			background RGBA($white, .6)
			backdrop-filter blur(2px)
			&.first
				top -91px
			&.second
				bottom 10px
			&.third
				bottom 70px
				right -200px
		&_icon
			+tablet-large()
				wh(64px)
				display flex
				align-items center
				justify-content center
				border-radius 64px
				flex 0 0 64px
				background-color RGB($greenDark)
		&_title
			font 20px $f_bold
			margin-bottom 10px
		&_right
			text-align left
.profits
	&-accordeon
		margin 2em 0 30px
		+tablet()
			margin-bottom 60px
		&-item
			df({
				df:'.profits-accordeon-item'
				jus: center
			})
			cursor pointer
			transition .35s ease
			flex-direction column
			padding 20px 0
			border-bottom: 2px solid RGB($greenDark)
			max-height 104px
			overflow hidden
			+tablet()
				display block
				padding 40px
			&_title
				df({
					df:'.profits-accordeon-item_title'
					ali: 'center'
					jus: 'space-between'
				})
				height 44px
				transition .35s ease
				&>span
					font 16px/24px $f_bold
				+tablet()
					height initial
			&_btn
				height 4px
				&:before,&:after
					wh(14px,3px)
					transition .35s ease
					border-radius 4px
					position absolute
					content ''
					background-color RGB($black)
				&:after
					transform rotate(90deg)
			&_text
				dn()
				margin-top 20px
				font 14px/24px $f_reg
				color RGBA($black,.6)
				transition .35s ease
				+tablet()
					display block
					max-width 840px
					opacity 0
			link = '.profits-accordeon-item'
			&.-active
				max-height 1500px
				{link}_title
					color RGB($greenDark)
				{link}_btn
					&:before
						background-color RGB($greenDark)
					&:after
						opacity 0
				{link}_text
					display: block
					+tablet()
						opacity 1

.suitable
	dn()
	&-tabs
		border-radius 200px
		border 2px solid RGBA($greenDark, .2)
		background RGBA($white, .6)
		box-shadow 0px 0px 20px 0px rgba(0, 0, 0, .02)
		backdrop-filter blur(2px)
	&-tab
		w(100%)
		text-transform uppercase
		font 14px/28px $f_bold
		padding 14px
		border-radius 59px
		background RGBA($black, .04)

.showcase,.clients,.reviews,.subscribe,.intuit,.foot
	+tablet-large()
		margin-top 105px
.showcase
	&-left,&-text
		margin 1em 0
	&-title
		font 20px/normal $f_bold
	&-text
		font 16px/normal $f_reg
		color RGBA($black,.6)
		+tablet-large()
			margin 20px 0 46px
	&-video
		iframe
			w(100%)
			border 0
		+tablet-large()
			height 100%
			iframe
				height 100%
	&-row
		+tablet()
			display flex
			column-gap 50px
			margin-top 46px
	&-left
		+tablet()
			w(318px)
			flex 0 0 318px
	&-right
		+tablet()
			wh(100%,484px)

@keyframes logoloop
	0%
		transform translateX(0%)
	50%
		transform translateX(calc(-100% + 100vw))
	100%
		transform translateX(0)
.clients
	&-cont
		df({
			df: '.clients-cont'
		})
		margin 3em 0
		overflow hidden
		+tablet-large()
			margin 46px 0
	&-item
		df({
			df: '.clients-item'
			ali:center
			jus:center
		})
		w(200px)
		flex 0 0 200px
		margin 0 2rem
		height 80px
		img
			object-fit contain
			max-height 100%
	&-list
		df({
			df:'.clients-list'
			jus: flex-start
			ali: center
		})
		column-gap 10px
		overflow visible
		animation: logoloop 60s linear infinite
		background-size cover
		+tablet()
			animation-duration 45s
		+desktop()
			animation-duration 30s

.reviews
	&-list
		margin 2em 0
		&_inner
			overflow hidden
			df({
				df:'.reviews-list_inner'
				ali: center
			})
			+tablet-large()
				overflow visible
				column-gap 50px
	&-item
		w(100%)
		flex none
		border-radius 10px
		background-color: #f9f9f9
		padding 20px 20px 50px
		border 2px solid RGBA($greenDark, .2)
		+tablet-large()
			max-width 569px
		&_text
			font 18px/30px $f_reg
			color RGBA($black,.6)
			&>strong
				font-family $f_bold
		&-author
			df({
				df: '.reviews-item-author'
				ali: center
			})
			column-gap 20px
			margin-top 20px
			&_img
				wh(64px)
				background #dd
				border-radius 64px
			&_name,&_pos
				font 18px/20px $f_bold
			&_pos
				margin-top 6px
				font-feature-settings:'clig' off, 'liga' off
				font-family $f_reg
	&-arrows
		margin-top 20px
.subscribe
	&-form
		margin-top 46px
		+tablet-large()
			display flex
			flex-wrap wrap
			column-gap 20px
	&-input
		margin-bottom 20px
		+tablet-large()
			w(609px)
	&-btn
		svg
			fill $greenDark
.intuit
	padding 50px 0
	background RGBA($white, .6)
	backdrop-filter blur(2px)
	text-align: center
	+tablet-large()
		padding 83px 0
	&-row
		+tablet-large()
			display flex
			column-gap 107px
			align-items center
.foot
	+desktop()
		padding-bottom 62px
	&-title
		font 14px/28px $f_bold
		text-transform uppercase
		margin-bottom 10px
		+tablet-large()
			margin-bottom: 20px
	&-list
		df({
			df: '.foot-list'
			ali: flex-start
		})
		flex-wrap wrap
		border-bottom 2px solid RGB($greenDark)
		padding-bottom 20px
		+tablet-large()
			w(100%)
			padding-bottom 50px
			column-gap 160px
			justify-content space-between
		&_item
			df({
				df: '.foot-list_item'
				ali: center
			})
			column-gap 10px
			margin-bottom 10px
	&-item
		w(50%)
		+tablet-large()
			w(initial)
			flex none
			&:nth-child(2)
				margin-left auto
	&-menu,&-copy
		dn()
		+tablet-large()
			text-transform uppercase
			display: block
	&-menu
		+tablet-large()
			margin-right 70px
	&-bottom
		+tablet-large()
			display flex
			align-items center
			justify-content space-between
	&-cont
		+desktop()
			p(0px)
			margin 50px 0 0
			border-top 1px solid rgba(38, 50, 56, 0.10)
			border-bottom 1px solid rgba(38, 50, 56, 0.10)
	&-logo
		display block
		text-align center
		padding 25px 0
		+tablet-large()
			w(350px)
			padding 11px 0
	&-copy
		font 16px/28px $f_bold
		&>span
			margin-right 60px
		&>a
			margin-right 6px
			color RGBA($black,.6)
.metrics
	&-cont
		height 371px
		m(2em 0 20px)
		overflow hidden
		tr()
		+desktop()
			margin-top 46px
		&.active
			overflow visible
	&-list
		df({
			df: '.metrics-list'
			ali: stretch
		})
		flex-wrap wrap
		gap 20px
	&-item
		w(100%)
		p(20px 20px 28px)
		border-radius 10px
		background rgba(250,251,250,.6)
		backdrop-filter blur(2px)
		box-shadow 0 0 20px rgba(0,0,0,.04)
		+tablet()
			w(calc(50% - 10px))
		+desktop()
			wh(calc((100% - 40px) / 3),252px)
		&-header
			df({
				df: '.metrics-item-header'
				ali: center
			})
			column-gap 20px
			font 20px $f_bold
		&-index
			wh(64px)
			df({
				df: '.metrics-item-index'
				ali: center
				jus: center
			})
			background-color RGBA($greenDark,.2)
			border-radius 100%
			color RGB($greenDark)
		&-title
			color RGB($black)
		&-list
			margin-top 20px
			color RGBA($black,.6)
			+desktop()
				w(299px)
		&-item
			margin-left 25px
			list-style disc

.pluses
	&-row
		m(2em 0 0)
		+desktop()
			margin-top 46px
	&-row
		df({
			df: '.pluses-row'
		})
		flex-direction column
		row-gap 20px
		+tablet-large()
			flex-direction row
			align-items stretch
			column-gap 40px
		+desktop()
			column-gap 90px
	&-img
		wh(100%)
		border-radius 20px
		overflow hidden
		+tablet-large()
			position absolute
		img
			wh(100%)
			object-fit cover
		&-cont
			position relative
			+tablet-large()
				w(571px)
				flex-shrink 0
	&-tooltip
		wh(290px,100px)
		p(0 20px)
		df({
			df: '.pluses-tooltip'
			ali: center
		})
		border 1px solid RGBA($greenDark,.2)
		background-color RGB($white)
		border-radius 2000px
		column-gap 20px
		font-family $f_bold
		position absolute
		&.easy
			bottom 150px
			left 22px
		&.answer
			bottom 30px
			right 22px
		&.efficiency
			bottom 150px
			right 33px
		&.mastering
			left 33px
			bottom 30px
		&.google
			bottom 130px
			right 33px
		&.reply
			bottom 20px
			left 33px
		+tablet()
			w(370px)
			font-size 20px
			&.easy
				left 59px
				bottom 198px
			&.answer
				right 58px
				bottom 78px
			&.efficiency
				bottom 198px
			&.mastering
				left 50px
				bottom 78px
			&.google
				bottom 210px
				right 67px
			&.reply
				bottom 90px
				left 68px
		&-icon
			wh(64px)
			df({
				df: '.pluses-tooltip-icon'
				jus: center
				ali: center
			})
			border-radius 100%
			background-color RGB($greenDark)
	&-list
		w(100%)
		p(2px 0)
		df({
			df: '.pluses-list'
		})
		flex-direction column
		row-gap 20px
		+tablet-large()
			row-gap 60px
	&-item
		df({
			df: '.pluses-item'
			ali: center
		})
		column-gap 20px
		font-family $f_bold
		position relative
		+desktop()
			font-size 20px
		&:last-child
			.pluses-item-icon:after
				content none
		+desktop()
			column-gap 30px
		&-icon
			wh(58px)
			flex-shrink 0
			df({
				df: '.pluses-item-icon'
				ali: center
				jus: center
			})
			box-shadow 0 0 10px 0 rgba(0,0,0,.1)
			border 1px solid RGB($greenDark)
			border-radius 100%
			position relative
			&:after
				af()
				wh(1px,20px)
				background-color RGB($greenDark)
				position absolute
				top 100%
				+tablet-large()
					height 60px

		&-text
			position absolute
			left 78px

::-webkit-scrollbar
	w(7px)

::-webkit-scrollbar-track
	background #f1f1f1

::-webkit-scrollbar-thumb
	background #888
	border-radius 3.5px

::-webkit-scrollbar-thumb:hover
	background #555


.faded
	+desktop()
		transition .3s ease
		transform translate3d(0px, 100px, 0) scale(1.1)
		opacity: 0