:root
  --red: getRgb(red)
  --green-light: getRgb(#1FEF8B)
  --green-dark: getRgb(#37BE55)
  --yellow: getRgb(#FFD361)
  --black: getRgb(#263238)
  --white: getRgb(#FAFBFA)
  --gray-light: getRgb(#F9F9F9)
  --gray: getRgb(#ECECEC)


$red = var(--red)
$greenLight = var(--green-light)
$greenDark = var(--green-dark)
$yellow = var(--yellow)
$black = var(--black)
$white = var(--white)
$grayLight = var(--gray-light)
$gray = var(--gray)

$f_reg = 'GoogleSans-Regular'
$f_bold = 'GoogleSans-Bold'